{% extends "base/base.html" %}

<!--blok lewy-->
{% block content %}

<h3>Tablica</h3>

{% include 'base/posts_paginator.html' %}

<br>

{% for post in posts %}
<p>
    <span>{{ post.content }}</span>
</p>
<p class="small-right">
    <!--    user info -->
    <a href="{% url 'user-details' post.user.id %}">{{ post.user }}</a> {% include 'svg/user.html' %}<br>
    <!--    date info -->
    {{ post.creation_date }} {% include 'svg/date.html' %}<br>
    <!--    city info -->
    <span class="city">{{ post.city }}</span> {% include 'svg/city.html' %}<br>
    <!--    delete/edit options -->
    {% if request.user == post.user %}
    <a href="{% url 'post-delete' post.id %}">usuń</a>/<a href="{% url 'edit-post' post.id %}">edytuj</a>
    {% else %}
    {% endif %}<br>
    <!--    comments options -->
    <a href="{% url 'post-details' post.id %}">dodaj komentarz {% include 'svg/comment.html' %}</a>
</p>
<hr>
{% endfor %}

{% include 'base/posts_paginator.html' %}

<p  class="small-center">
    <span><a href="{% url 'add-post' %}">dodaj post</a></span> |
    <span><a href="{% url 'add-announcement' %}">dodaj ogłoszenie</a></span> |
    <span><a href="{% url 'service-pages' %}">usługodawcy</a></span>
</p>

{% endblock %}
