{% extends "base/base.html" %}

<!--blok lewy-->
{% block content %}
<h3>{{ announcement.title }}</h3>
<p>{{ announcement.all_details }}</p>
<p>{% if user.is_authenticated %}
    <a href="{% url 'new-message' %}">wyślij wiadomość</a>
	{% endif %}
</p>
{% endblock %}


<!-- blok prawy -->
{% block right %}
{% include 'svg/user.html' %} {{ announcement.user }}
<br>
{% include 'svg/date.html' %} {{ announcement.creation_date }}
<br>
{% include 'svg/city.html' %} <span class="city">{{ announcement.city }}</span>

{% endblock %}