{% extends "base/base.html" %}

{% block content %}

<form method="post" novalidate>
    {% csrf_token %}
    {{ form }}
    <br>
    <input type="submit" class="btn btn-light btn-sm" value="edytuj"> <input type="button" class="btn btn-light btn-sm" value="powrót" onclick="history.back()">
</form>

{% endblock %}

{% block right %}
    <h3>Dane użytkownika {% include 'svg/user.html' %}</h3>
    <p>login: {{user.username }}</p>

    {% if request.user == user %}
        <p>imię: {{user.first_name }}</p>
        <p>nazwisko: {{ user.last_name }}</p>
        <p>e-mail: {{ user.email }}</p>
    {% endif %}

    <p>z nami od: {{ user.date_joined }}</p>
    {% if request.user == user %}
        <p>rodzaj konta: {{ group }}</p>
    {% endif %}

{% endblock %}