{% extends "base/base.html" %}

<!--blok lewy-->
{% block content %}

<h3>{{ msg.title }}</h3>

<p>
    Nadawca: {{ sender.username }}<br>
    Odbiorca: {{ receiver.username }}<br>
    <span style="font-size: small">{{ msg.creation_date }}</span>
</p>
<hr>
<p>
    {{ msg.content }}
</p>
<hr>
<p style="font-weight: bold">Odpowiedz</p>
<form method="post" novalidate>
            {% csrf_token %}
            {{ form }}
            <br>
            <input type="submit" class="btn btn-light btn-sm" value="dodaj"> <input type="button" class="btn btn-light btn-sm" value="powrót" onclick="history.back()">
        </form>
{% endblock %}

{% block right %}
<h3>Dane użytkownika {% include 'svg/user.html' %}</h3>
<p>login: {{user.username }}</p>
<p>imię: {{user.first_name }}</p>
<p>nazwisko: {{ user.last_name }}</p>
<p>e-mail: {{ user.email }}</p>
<p>z nami od: {{ user.date_joined }}</p>
<hr>
<h3>Wiadomości {% include 'svg/msg.html' %}</h3>
<p>
    <span style="font-weight: bold">
        Odebrane
    </span><br>
<p>{% for r_message in r_messages %}
    <a href="{% url 'msg-details' user.id r_message.id %}">&#8250; {{ r_message.title }}</a><br>
    {% empty %}- - -
    {% endfor %}</p>
<p>
    <span style="font-weight: bold">
        Wysłane
    </span><br>
<p>{% for s_message in s_messages %}
    <a href="{% url 'msg-details' user.id s_message.id %}">&#8250; {{ s_message.title }}</a><br>
    {% empty %}- - -
    {% endfor %}</p>


{% endblock %}
