{% extends "base/base.html" %}

<!--blok lewy-->
{% block content %}

<p>
    {{ post.content }}
</p>
<p class="small-right">
    {{ post.user }} {% include 'svg/user.html' %}<br>
    {{ post.creation_date }} {% include 'svg/date.html' %}<br>
    <span class="city">{{ post.city }}</span> {% include 'svg/city.html' %}<br>
        {% if user == post.user %}
            <a href="{% url 'post-delete' post.id %}">usuń</a>/edytuj
        {% else %}
        {% endif %}
</p>
<hr>
<p>
    {% if user.is_authenticated %}
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form }}
            <br>
            <input type="submit" class="btn btn-light btn-sm" value="dodaj"> <input type="button" class="btn btn-light btn-sm" value="powrót" onclick="history.back()">
        </form>
    {% else %}
        <a href="{% url 'login' %}">zaloguj się aby móc dodawać komentarze</a></a>
    {% endif %}
</p>
<hr>
<h3>Komentarze</h3>
<p class="small-center">liczba komentarzy: {{ comments|length }}</p>

{% for comment in comments %}
    <p>
        {{ comment.content }}
    </p>
    <p class="small-right">
        {{ comment.user }} {% include 'svg/user.html' %}<br>
        {{ comment.creation_date }} {% include 'svg/date.html' %}<br>
        {% if user == comment.user %}
            <a href="{% url 'comment-delete' comment.id %}">usuń</a>/edytuj
        {% else %}
        {% endif %}
    </p><hr>
    {% empty %} Brak komentarzy
{% endfor %}

{% endblock %}