{% extends "base/base.html" %}

<!--blok lewy-->
{% block content %}
{% if request.user == user %}
    <h3>Twoja ostatnia aktywność {% include 'svg/activity.html' %}</h3>
    <p>
        <span class="bold">
            Posty
        </span><br>
        {% for post in posts %}
        &#8250; <a href="{% url 'post-details' post.id %}">
            {{ post.content|truncatewords:5 }}
        </a>
        <span class="small">
            {% if request.user == post.user %}
            (<a href="{% url 'post-delete' post.id %}">usuń</a>/edytuj)<br>
            {% endif %}
        {% empty %}Brak Twoich postów, dodaj coś <a href="{% url 'add-post' %}">tutaj &#9825;</a>
        {% endfor %}
    </p>
    <p>
        <span class="bold">
            Ogłoszenia
        </span><br>
        {% for announcement in announcements %}
        &#8250; <a href="{% url 'announcement-details' announcement.id %}">
            {{ announcement.title|truncatewords:5 }}
        </a>
        <span class="small">
            {% if request.user == announcement.user %}
            (<a href="{% url 'announcement-delete' announcement.id %}">usuń</a>/edytuj)
            {% endif %}
        </span>
        <br>
        {% empty %}Brak Twoich ogłoszeń, dodaj coś <a href="{% url 'add-announcement' %}">tutaj &#9825;</a>
        {% endfor %}
    </p>
    <p>
        <span class="bold">
            Komentarze
        </span><br>
        {% for comment in comments %}
        &#8250; <a href="{% url 'post-delete' comment.post_id %}">
            {{ comment.content|truncatewords:5 }}
        </a>
        <span class="small">
            {% if request.user == comment.user %}
            (<a href="{% url 'comment-delete' comment.id %}">usuń</a>/edytuj)
            {% endif %}
        </span><br>
        {% empty %}Brak aktywności :(
        {% endfor %}
    </p>
{% else %}
    <h3>Aktywność {{user.username}} {% include 'svg/activity.html' %}</h3>
    <p>
        <span class="bold">
            Posty
        </span><br>
        {% for post in posts %}
        &#8250; <a href="{% url 'post-details' post.id %}">
            {{ post.content|truncatewords:5 }}
        </a><br>
        {% empty %} -
        {% endfor %}
    </p>
    <p>
        <span class="bold">
            Ogłoszenia
        </span><br>
        {% for announcement in announcements %}
        &#8250; <a href="{% url 'announcement-details' announcement.id %}">
            {{ announcement.title|truncatewords:5 }}
        </a>
        {% empty %} -
        {% endfor %}
    </p>

{% endif %}



{% endblock %}

{% block right %}
    <h3>Dane użytkownika {% include 'svg/user.html' %}</h3>
    <p>login: {{user.username }}</p>

    {% if request.user == user %}
        <p>imię: {{user.first_name }}</p>
        <p>nazwisko: {{ user.last_name }}</p>
        <p>e-mail: {{ user.email }}</p>
    {% endif %}

    <p>z nami od: {{ user.date_joined }}</p>
    {% if request.user == user %}
        <p>rodzaj konta: {{ group }}</p>
        <p><a href="{% url 'edit-user' user.id %}">edytuj dane</a></p>
    {% endif %}
    <hr>

    {% if request.user == user %}
    <h3>Wiadomości {% include 'svg/msg.html' %}</h3>
    <p>
        <span class="bold">
            Odebrane
        </span><br>
    <p>{% for r_message in r_messages %}
        <a href="{% url 'msg-details' user.id r_message.id %}">&#8250; {{ r_message.title|truncatewords:5 }}</a> <span class="small">{{ r_message.creation_date }}</span><br>
        {% empty %} -
        {% endfor %}</p>
    <p>
        <span class="bold">
            Wysłane
        </span><br>
    <p>{% for s_message in s_messages %}
    <a href="{% url 'msg-details' user.id s_message.id %}">&#8250; {{ s_message.title|truncatewords:5 }}</a> <span class="small">{{ s_message.creation_date }}</span><br>
        {% empty %} -
        {% endfor %}</p>

    {% else %} Wyślij wiadomość do {{ user }}

    {% endif %}

{% endblock %}
